[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.20.0"
PyAudio = "==0.2.11"
SpeechRecognition = "==3.8.1"
watson-developer-cloud = ">=2.4.0"
termcolor = "==1.1.0"
py-translator = "==1.8.9"
colored = "==1.3.93"

[dev-packages]

[requires]
python_version = "3.7"
